@inject TimeZoneService TimeZoneService

<p class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500 text-3xl mb-3">High Scores</p>

<div class="overflow-y-auto overflow-x-hidden h-44">
    @if (Scores is null)
    {
        <div class="flex">
            <Spinner />
            <div>Loading scores...</div>
        </div>
    }
    else if (!Scores.Any())
    {
        <p>Didn't find any user scores!</p>
    }
    else
    {
        foreach (var score in Scores)
        {
            <div class="flex h-14 items-center">
                <div class="w-16 flex justify-center items-center text-2xl font-semibold">
                    @(Scores.IndexOf(score) + 1)
                </div>
                <div class="text-gray-200">
                    @score.PlayerName (@score.TotalCorrect / @score.TotalGuessed)

                    <p class="text-sm text-gray-400">
                        <LocalTime UtcTime="score.Timestamp" />
                    </p>
                </div>
            </div>
        }
    }
</div>
