@implements IDisposable

<p class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500 text-3xl mb-3">Results</p>

<div class="overflow-y-auto overflow-x-hidden" style="height: 90%;">
    @foreach (var result in GameService.Guesses)
    {
        <TrackObject Result="result" />
    }
</div>
