/* CSS rules should be mobile-first */

#main-layout {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom, var(--background-color), #000);
    padding-bottom: 1rem;
}

.container {
    width: 100%;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
}

header {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    width: 100%;
    padding: 1rem 0;
    background-image: linear-gradient(to bottom, var(--background-color), transparent);
}

    header #github-link {
        margin-left: auto;
    }

main {
    display: flex;
    flex-grow: 1;
    width: 100%;
    padding-top: 0.5rem;
}
