::deep .blazored-typeahead {
    border: none;
}

::deep .blazored-typeahead:focus-within{
    box-shadow: none;
}

::deep .blazored-typeahead__input {
    background-color: rgba(55, 65, 81, 1);
}

::deep .blazored-typeahead__results {
    border: none;
    background-color: rgba(55, 65, 81, 1);
    color: white;
    width: calc(100% + 2rem);
    left: -2rem;
}

::deep .blazored-typeahead__result {
    border-top: 1px solid rgba(75, 85, 99, 1);
    border-bottom: 1px solid rgba(75, 85, 99, 1);
}

.search {
    display: flex;
    flex-direction: row;
    background-color: rgba(55, 65, 81, 1);
    border: 1px solid rgba(31, 41, 55, 1);
}

    .search:focus-within {
        box-shadow: 0 0 0 0.2rem rgb(38 143 255 / 50%);
    }