@page "/play-game"
@using Blazored.Typeahead

@using Spotify.Models

@if (GameService.Tracks is null)
{
    <Loader LoadText="Tuning the guitar..." />
}
else if (GameService.PlayTrack)
{
    <MusicPlayer @ref="_player" Url="@GameService.CurrentTrack?.PreviewUrl" />

    <div class="play-game h-full">

        <h4 class="text-4xl font-semibold tracking-wide text-center">Guess the Artist</h4>

        <BlazoredTypeahead SearchMethod="@SearchService.SearchArtists" Debounce="500" Disabled="GameService.Guessing"
                           Value="@SelectedArtist"
                           ValueChanged="((Artist? x) => GameService.GuessArtist(x?.Id))"
                           ValueExpression="(() => SelectedArtist)"
                           placeholder="Search artists...">
            <SelectedTemplate>
                @context?.Name
            </SelectedTemplate>
            <ResultTemplate>
                @context.Name
            </ResultTemplate>
            <NotFoundTemplate>
                Sorry, there weren't any search results.
            </NotFoundTemplate>
        </BlazoredTypeahead>
    </div>
}
else
{
    <GuessResult OnContinue="NextTrack" Result="GameService.LastGuessed" />
}
