@inherits LayoutComponentBase
@inject AuthService AuthService 

<AuthorizeView>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
    <Authorized>
        <NavMenu />
        <div class="main">
            @Body
        </div>
    </Authorized>
</AuthorizeView>
