@inherits LayoutComponentBase
@inject AuthService AuthService 

<AuthorizeView>
    <Authorizing>
        <p>Authorizing...</p>
    </Authorizing>
    <NotAuthorized>
        <Client.Pages.Authorization.Login />
    </NotAuthorized>
    <Authorized>
        <div class="page">
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <a>Hello, @context.User.Identity.Name</a>
                    <a href="#" @onclick="AuthService.Logout">Log out</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </div>

    </Authorized>
</AuthorizeView>
