@inherits LayoutComponentBase

<div id="main-layout">
    <a id="github-link" href="https://github.com/erinnmclaughlin/Jam-Exam" target="_blank" class="text-gray-200 text-opacity-50 hover:text-opacity-80">
        <GitHubIcon />
    </a>
    <main>
        @Body
    </main>
</div>
