@page "/create-game"

<div class="flex justify-center" style="height: calc(100vh - 10rem);">

    <EditForm Model="CreateGameModel" OnValidSubmit="HandleValidSubmit" style="align-self: center;">

        <FluentValidationValidator />

        <h2 class="text-center text-3xl font-bold text-gray-50 mb-10">
            Configure Game Options
        </h2>

        <label class="block mb-3">
            <span class="text-sm text-gray-50 font-semibold mb-3">Difficulty</span>
            <InputSelect @bind-Value="CreateGameModel.Difficulty" class="block w-full mt-0 px-2 bg-gray-700 border border-transparent rounded-sm focus:ring-0 focus:border-black">
                <option class="bg-gray-700 text-gray-400" selected disabled>Select a difficulty...</option>
                <option class="bg-gray-700 text-gray-200" value="1">Easy</option>
                <option class="bg-gray-700 text-gray-200" value="2">Normal</option>
                <option class="bg-gray-700 text-gray-200" value="3">Hard</option>
                <option class="bg-gray-700 text-gray-200" value="4">Expert</option>
            </InputSelect>
            <ValidationMessage For="(() => CreateGameModel.Difficulty)" />
        </label>

        <label class="block py-2 mb-3">
            <span class="text-sm text-gray-50 font-semibold mb-3">Number of Questions</span>
            <InputNumber @bind-Value="CreateGameModel.NumberOfQuestions" class="mt-0 block w-full px-2 bg-gray-700 border border-transparent rounded-sm focus:ring-0 focus:border-black" />
            <ValidationMessage For="(() => CreateGameModel.NumberOfQuestions)" />
        </label>

        <div class="grid grid-flow-col gap-4">
            <button type="button" disabled="@IsSubmitting" class="button text-white bg-gray-600 hover:bg-gray-700 @DisabledCss()" @onclick="GoToSelectGenre">
                Cancel
            </button>
            <button type="submit" disabled="@IsSubmitting" class="button text-white bg-indigo-600 hover:bg-indigo-700 @DisabledCss()">
                @if (IsSubmitting)
                {
                    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-white" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
                        <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
                    </svg>
                }
                <span>Play</span>
            </button>
        </div>
        
    </EditForm>
</div>
