@page "/play"

@if (GameManager.CurrentTrack is null)
{
    <Loader LoadText="Creating game..." />
}
else
{
    <TrackPlayer Url="@GameManager.CurrentTrack.PreviewUrl" />

    <button class="button" @onclick="GameManager.NextTrack">Next Track</button>
}